.admin-portfolio{
    &__container{

        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
    }
    
}
.portfolio-card{
        .admin-btns-container{
            display: flex;
            justify-content: space-between;
        }


        button{
            width: 7rem;
        }
}
